
.new-tweet {
  display: flex;
  flex-direction: column;
  
  width: 80%;
 background-color: rgb(red, rgb(206, 209, 206), blue);
}

.new-tweet p{
  display: flex;
  justify-content: center;
  border: red 5px solid;
  color: red;
  
}

.tweet-text {
  width: 100%;
  border: none;
  border-bottom-width: 5px;
  border-bottom-color: rgb(136, 133, 133);
  border-bottom-style: solid;
  margin-bottom: 5px;
  background-color: #F4F1EC;
}

form {

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: bungee, sans-serif;
}
form label {
  font-size: 00.75em;
}

.tweeter {
  display: flex;
  justify-content: space-between;
}

.counter {
  display: flex;

}

.negative {
  color: red;
}

#Tweetbutton {
  color: rgb(251, 251, 251);
  font-size: 0.75em;
  border-width: 2.5px;
  border-color: rgb(93, 144, 240);
  display: flex;

  background-color : rgb(49, 124, 236);
}

.tweetContainer {
  display: flex;
  flex-direction: column;  
  width: 80%;
 background-color: rgb(red, rgb(206, 209, 206), blue);
}

.tweetContainer p {
  display: flex;
  margin-bottom: 4px;
  word-wrap: break-word;
}

.tweet {
  border-width: 5px;
  border-color: rgb(136, 133, 133);
  border-style: solid;
  margin-bottom: 5px;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.tweet:hover {
  box-shadow: 10px 10px grey;

}

.header {
  display:flex;
  justify-content: space-between;
}

.header span {
  margin-top: 25px;
}

section hr {

  width: 100%;
  border: 0.1em solid rgb(136, 133, 133);
}

.icons {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}


.icons i{
  width: 40px;
  display: flex;
  color:rgb(49, 124, 236);
}

.icons i:hover{
  color: grey;
}